.f1 h1{
 background: linear-gradient(135deg,#f0c572,#d4a024);
    background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 700;
  font-family: serif;
}

.f1 p{
    width: 480px;
 font-size: 18px;
 margin-top: 14px;
 font-weight: 400;
 margin-bottom: 30px;
/* text-align: left; */
}

.f2 h2{
    font-size: 18px;
    font-weight: 400;

}

.link{
    color: white;
    font-size: 16px;
}

.f3 h2{
font-size: 18px;
    font-weight: 400;
}

.foot{
    border-top: 1px solid rgba(167, 167, 14, 0.899);
    height: 400px;
}

footer{
    border-bottom: 1px solid rgba(167, 167, 14, 0.899);

}

